.card-body {
background: rgba( 255, 255, 255, 0.25 );
border-radius: 10px;
margin: 10px;
border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.card {
  position: relative;
}

.image2 {
  position: absolute;
  left: -75px;
}
#card-title {
  font: 30px Veronika Burian, José Scaglione;
  color: black;
  border: 1px outset lightblue;
}

.header{
  font: 20px Veronika Burian, José Scaglione;
  font-weight: bold;
}

.footer{
  font-size: 15px;
}
#cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 33.333%;
  flex-grow: 1;
}

#availability {
  background-color: darkgray;
  color: yellow;
  align-self: center;
  width: calc(100% - 0px);
  padding: 10px;
  margin: 20px;

  
}
